@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.about h2{
text-align: center;
margin-left: 3rem;
margin: 2rem;
font-size: 2rem;
color: #90b0ff;
}


.about-flex {
  display: flex;

}

.about h4{
  margin-left: 20rem;
  font-weight: 700;
  font-size: 1rem;
 
}
about-flex h4 , p {
  margin-top: 1rem;
  text-align: justify;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Poppins' ,sans-serif; 
}

.about-flex img{
 
  width: 20rem;
  height: 25rem;
  margin-left: 2rem;
  transition: 0.3s ease;
}

.about-flex img:hover{
  cursor: pointer;
 transform: scale(0.8);
}

.abt-btn {
  position: absolute;
 left: 40rem;
 top: 26rem;
 font-size: 1.3rem;
 width: 10rem;
 height: 4rem;
  border: none;
  background-color: black;
  border-radius: 10%;
  transition: 0.3s ease;
}

.abt-btn a{
  color: #fff;
  text-decoration: none;
}

.abt-btn:hover{
   color: #0000008a;
background-color: #F79BD3; 
transform: scale(0.8);
}


body {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {

from {
  opacity: 0;
  transform: rotateY(-10deg);
} 
to{
  opacity: 1;
  transform: rotateY(0);
}

}


/*

.

*/