@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
 padding: 0;
 font-family: 'Poppins' ,sans-serif; 
 scroll-behavior: smooth;
}
body{
  overflow: hidden;
}

.nav{
  background-color: #FEFEE3;
  box-shadow: 0 7px 4px 0 rgba(2, 1, 1, 0.1);

  z-index: 10;
   
}

.flex{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: 0.3s ease;

}
.flex img{
  margin-top: 5px;
  height: 3rem;
  border-radius: 50%;
}
.flex li{
  margin: 1rem;
  font-family: 'Poppins' ,sans-serif; 
}

.flex button{
  background-color: #0D1B1E;
  color: #fff;
  width: 6rem; 
  height: 3rem;
  position: relative;
  top: 6px;
  cursor: pointer;

}
.head .nav .flex a{
  text-decoration: none;
  color: #000;
}
.flex button:hover{
  color: blue;
}
.head .nav .flex li:hover{
cursor: pointer;
  color:blue;
  transform: scale(1.1);
}

#main{
  width: 100%;
  height: 100vh;
  background-color: #AEC5FF;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 9rem;
   
}
#main .container h2{
  font-size: 4rem;
position: relative;

left: 7rem;
font-family: 'Poppins' ,sans-serif; 
}

div .container img{
  width: 22rem;
  height: 24rem;
  border-radius: 50%;
  position: absolute;
  left: 45rem;
}
.start-jouney{
  position: absolute;
  top: 28rem;
  left: 6rem;
  
}
.start-jouney p{
  font-size: 2rem;
  color: #000;
  font-family: 'Poppins' ,sans-serif; 
}
.start-jouney button{
  height: 2rem;
  width: 7rem;
  position: absolute;
  top: 3rem;
  left: 4rem;
  border-radius: 7%;
  border: none;
font-size:1rem;
 transition: 0.3s ease;
 margin: 10px;
}
.start-jouney button:hover{
  cursor: pointer;
  border-radius: 15%;
  background-color: #000;
  color: #fff;

}

body {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {

from {
  opacity: 0;
  transform: rotateY(-10deg);
} 
to{
  opacity: 1;
  transform: rotateY(0);
}

}


/* contact us section  */




















footer{
  width: 100%;
  height: 30vh;
  background-color: #AEC5FF;

}

footer .footer-logo{
  position: absolute;
  left: 1rem;
}
footer a{
 text-decoration: none;
 color: #000;
 margin: 2rem;
 padding: 1rem;
 font-size: 1.3rem;
}
footer .footer-section{
  margin: 2rem;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-family: 'Poppins' ,sans-serif; 
  font-weight: 400;
 
}
footer .footer-section a{
  position: relative;
  top: 2rem;
  padding: 2rem;
}
footer .social-media{
  position: relative;
  justify-content: center;
  text-align: center;
  top: 2rem;

}

footer .social-media p{
  font-size: 1.3rem;
  font-weight: 400;
}

footer .social-media i{
  font-size: 1.5rem;
  margin:1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

 footer .footer-section a:hover{
  color:blue;
  transform: scale(9);
}

.social-media i:hover{
  color: white;
  transform: scale(1.5);
}
